@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--blue-0: #83ecff;
	--blue-1: #48dfff;
	--blue-2: #1ec4ff;
	--blue-3: #06a9ff;
	--blue-4: #0093fa;
	--blue-5: #0872c5;
	--blue-6: #0d609b;
	--blue-7: #0e3a5d;
	--blue-8: #031524;
	
	--green-0: #72ff53;
	--green-1: #41fb20;
	--green-2: #21fa00;
	--green-3: #12b500;
	--green-4: #0f8902;
	--green-5: #116c08;
	--green-6: #125b0c;
	--green-7: #023300;
	--green-8: #011900;
	
	--red-0: #ff5353;
	--red-1: #fb2020;
	--red-2: #fa0000;
	--red-3: #b50000;
	--red-4: #890202;
	--red-5: #6c0808;
	--red-6: #5b0c0c;
	--red-7: #330000;
	--red-8: #190000;
	
	--tran-theme: 1s;
	--dark: #000;
	--bright: #fff;
	
	/*****************/
	
	--base: var(--bright);
	--contrast: var(--dark);
	
	--theme-0: var(--red-0);
	--theme-1: var(--red-1);
	--theme-2: var(--red-2);
	--theme-3: var(--red-3);
	--theme-4: var(--red-4);
	--theme-5: var(--red-5);
	--theme-6: var(--red-6);
	--theme-7: var(--red-7);
	--theme-8: var(--red-8);
	
	--font-color: var(--contrast);
	--font-color-ctt: var(--theme-1);
	--font-color-alt: #fa6a00;
	
	--border-color: var(--contrast);
	--border-color-ctt: var(--theme-1);
	--border-color-alt: #fa6a00;
	
	--border-width: 2px;
	
	--meteor_n: var(--theme-2);
	--meteor_r: var(--theme-3);
}

@media (prefers-color-scheme: dark) {
	:root {
		--base: var(--dark);
		--contrast: var(--bright);
		
		--theme-0: var(--blue-0);
		--theme-1: var(--blue-1);
		--theme-2: var(--blue-2);
		--theme-3: var(--blue-3);
		--theme-4: var(--blue-4);
		--theme-5: var(--blue-5);
		--theme-6: var(--blue-6);
		--theme-7: var(--blue-7);
		--theme-8: var(--blue-8);
		
		--font-color: var(--contrast);
		--font-color-ctt: var(--theme-1);
		
		--border-color: var(--contrast);
		--border-color-ctt: var(--theme-1);
		
		--meteor_n: var(--theme-2);
		--meteor_r: var(--theme-3);
	}
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	transition: background-color var(--tran-theme) ease,
		color Calc(var(--tran-theme) - 0.8s) ease;
}

body {
	color: var(--font-color);
	background: var(--base);
	font-family: Arial, Helvetica, sans-serif;
	
	width: 100dvw;
	height: 100dvh;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

body:has(#switch-cb-theme:checked) {
	
	--base: var(--bright);
	--contrast: var(--dark);
	
	--theme-0: var(--red-0);
	--theme-1: var(--red-1);
	--theme-2: var(--red-2);
	--theme-3: var(--red-3);
	--theme-4: var(--red-4);
	--theme-5: var(--red-5);
	--theme-6: var(--red-6);
	--theme-7: var(--red-7);
	--theme-8: var(--red-8);
	
	--font-color: var(--contrast);
	--font-color-ctt: var(--theme-1);
	
	--border-color: var(--contrast);
	--border-color-ctt: var(--theme-1);
	
	--meteor_n: var(--theme-2);
	--meteor_r: var(--theme-3);
}

.clip-path-right {
	clip-path: polygon(0 0, 100% 100%, 0% 100%, 0 50%);
	border-radius: 0 0 0 10px;
}

.clip-path-left {
	clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 100%);
	border-radius: 0 0 10px 0;
}