.container-switch-theme {
	--size-of-icon: 1.4em;
	--slider-offset: 0.3em;
	display: block;
	position: relative;
	width: 3.5em;
	height: 2em;
	border: 2px solid var(--border-color-ctt);
	border-radius: 20px;
	user-select: none;
	
	&>input {
		visibility: hidden;
	}
	
	&>span {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: transparent;
		transition: .4s;
		border-radius: 30px;
	}
	
	&>span:before {
		content: "";
		position: absolute;
		top: 10%;
		transition: .4s;
		height: var(--size-of-icon, 1.4em);
		width: var(--size-of-icon, 1.4em);
		border-radius: 20px;
		left: Calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
		box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
	}
	
	&>input:not(:checked)+span:before {
		top: 50%;
		transform: translateY(-50%);
		left: var(--slider-offset, 0.3em);
		background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
		box-shadow: none;
	}
}