#piano {
  background-color: #cfcfcf4a;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#panel {
  position: relative;
  width: 100%;
  height: 60px;
  border-radius: 0px 0px 0 0;
  background-color: #ededed;
  box-shadow: inset 2px 10px 10px -8px #505050d0;
}

#screen-content {
  width: 80px;
  height: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid gray;
  top: 6px;
  border-radius: 3px;
  background-color: #898989b3;
}

#screen-text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  padding: 2px;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  color: #333;
}

#screen-glass {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  backdrop-filter: blur(.5px);
  -webkit-backdrop-filter: blur(.5px);
}

#teclas {
  overflow-x: scroll;
  position: relative;
  width: 100%;
  height: 50px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}


.tc {
  position: relative;
  background-color: #fff;
  width: 10px;
  height: 50px;
  z-index: 0;
  box-shadow: inset 0 10px 5px -10px #ff5959bb;
}

.tcS {
  background-color: #000;
  position: absolute;
  z-index: 9;
  right: 0;
  width: 2.5px;
  height: 35px;
}

.tcS2 {
  background-color: #000;
  position: absolute;
  z-index: 9;
  left: 0;
  width: 2.5px;
  height: 35px;
}

.tcS3 {
  background-color: #955555;
  position: absolute;
  z-index: 9;
  left: 0;
  bottom: 0;
  width: 1px;
  height: 15px;
}

.tcS4 {
  background-color: #955555;
  position: absolute;
  z-index: 9;
  right: 0;
  bottom: 0;
  width: 1px;
  height: 50px;
}